body {
    font-family: Arial;
    color: white;
}

.splitHon {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.splitVer {
    height: 50%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-y: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: blue;
}

.top {
    top: 0;
    background-color: red;
}

.bottom {
    bottom: 0;
}

.centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}