body {
  font-family: Arial;
  color: white;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main_page {
  display: none;
  /*text-align: center;*/
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.split {
  height: 100%;
  position: fixed;
  /*z-index: 1;*/
  top: 0;
  overflow-x: auto;
}

.left {
  width: 295px;
  left: 0;
  background-color: #111;
}

.right {
  /*width: 80%; */
  width: calc(100% - 295px);
  right: 0;
  overflow-y: auto;
}

.top {
  height: 400px;
  background-color: darkblue;
  color: white;
  /*overflow-y: auto;*/
}

.middle {
  height: 250px;
  /*overflow-y: scroll;*/
}

.bottom {
  background-color: grey;
  /*overflow-y: auto;*/
}

/*.top table {
  color: white;
}*/

.centered {
  text-align: center;
}

/*.centered img {
    width: 150px;
    border-radius: 50%;
}

hr {
    border: 1px solid white;
  }*/

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px dashed white;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}

* {
  box-sizing: border-box;
}

.summary {
    float: left;
    width: 25%; /* The width is 20%, by default */
    height: 100%;
    cursor: pointer;
    border: 1px solid black;
    padding-left: 5px;
}

.s1 {
    background-color: darkblue;
}

.s2 {
    background-color: plum;
}

.s3 {
    background-color: green;
}

.s4 {
    background-color: purple;
}

._left {
  background-color: darkblue;
  float: left;
  width: 25%; /* The width is 20%, by default */
  height: 100%;
  cursor: pointer;
  border: 1px solid black;
}

._main {
  background-color: plum;
  /*background-color: darkblue;*/
  float: left;
  width: 25%; /* The width is 60%, by default */
  height: 100%;
  cursor: pointer;
  border: 1px solid black;
}

._right {
  /*background-color: darkblue;*/
  background-color: green;
  float: left;
  width: 25%; /* The width is 20%, by default */
  height: 100%;
  cursor: pointer;
  border: 1px solid black;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 1024px) {
  ._left,
  ._main,
  ._right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    height: 400px;
  }
}
