body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: auto;
}

.left {
  width: 25%;
  left: 0;
  background-color: #111;
}

.right {
  width: 75%;
  right: 0;
}

.top {
  height: 45%;
  background-color: darkblue;
  color: white;
  overflow-y: auto;
}

.middle {
  height: 25%;
  overflow-y: auto;
}

.bottom {
  height: 30%;
  background-color: grey;
  overflow-y: auto;
}

.top table {
  color: white;
}

.centered {
  text-align: center;
}

/*.centered img {
    width: 150px;
    border-radius: 50%;
}

hr {
    border: 1px solid white;
  }*/

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px dashed white;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
